# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
inventory-proj/

# Django
db.sqlite3
.env
.env.*
staticfiles/
media/

# Logs & runtime
*.log
stock_archives/*.jsonl

# OS
.DS_Store

# Frontend
node_modules/
dist/
build/
new-new-key.pem